{{define "project_catalog"}}
<div class="pcatalog py-[var(--spacing-section-pad)] border-b border-border">
	<h2 class="text-xl font-bold text-fg mb-s5">Projects</h2>
	<div class="pcatalog-skel">
		<ul>
			<li>
				<div>
					<div>
						<span></span>
						<span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span>
						<span></span>
					</div>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</li>
			<li>
				<div>
					<div>
						<span></span>
						<span><span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span></span>
						<span></span>
					</div>
					<div>
						<span></span>
						<span></span>
					</div>
				</div>
			</li>
		</ul>
	</div>
</div>
{{end}}
